<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noah.architecturepractice">

    <application
        android:name="com.noah.architecturepractice.application.DPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.noah.architecturepractice.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.noah.architecturepractice.ui.authorlist.AuthorListActivity"/>
        <activity android:name="com.noah.architecturepractice.ui.booklist.BookListActivity"/>
        <activity android:name="com.noah.architecturepractice.ui.bookdetails.BookDetailActivity"/>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
</manifest>